:root {
  --spacing-xs: #{torem(4)};
  --spacing-s: #{torem(8)};
  --spacing-m-1: #{torem(16)};
  --spacing-m-2: #{torem(24)};
  --spacing-m-3: #{torem(32)};
  --spacing-l-1: #{torem(32)};
  --spacing-l-2: #{torem(48)};
}
