.s-site-tutorials {
  max-width: torem(736);
  color: #ABAEBE;
  @include breakpoint($break-tablet) {
    overflow: auto;
  }


  @media (max-width: 991px) {
    padding-right: torem(16);
  }

  @media (max-width: 767px) {
    text-align: center;
    padding-left: torem(16);
  }

  &__title {
    margin-bottom: torem(32);
    color: #fff;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: torem(102);

      @media (max-width: 767px) {
        margin-bottom: torem(48);
      }
    }

    &-description {
      margin-bottom: torem(48);
    }
  }

  &__step {
    display: flex;
    align-items: center;
    // gap: torem(32);
    img {
      min-width: 180px;
      max-width: 180px;
    }
    & > * {
      margin-left: torem(32);

      &:first-child {
        margin-left: 0;
      }
    }

    @media (max-width: 767px) {
      flex-direction: column-reverse;

      & > * {
        margin-bottom: torem(32);
        margin-left: 0;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: torem(24);
    }

    &-title {
      font-size: torem(20);
      line-height: torem(26);
      font-weight: 600;
      margin-bottom: torem(16);
    }

    p {
      font-size: torem(16);
      line-height: torem(20);
      margin: torem(16) 0;
    }
  }
}
