.e-invest {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    font-family: Dm, sans-serif;
    
  
    @include breakpoint($break-desktop-1024) {
      flex-grow: 0;
      height: 100%;
    }
  
    &--text {
      &-normal {
        height: auto;
        line-height: normal;
      }
    }
  
    &__invest {

      @include breakpoint($break-tablet-minus) {
        max-width: 375px;
        margin: auto;
      }
  
      &--text {
        &-main {
          font-size: torem(32);
          font-weight: 500;

          @include breakpoint($break-tablet-minus) {
            font-size: torem(24);
          }
        }
  
        &-input {
          font-size: torem(24);
          font-weight: 500;

          @include breakpoint($break-tablet-minus) {
            font-size: torem(20);
          }
          
        }
  
        &-primary {
          color: var(--text-primary)
        }
  
        &-secondary {
          color: var(--text-secondary)
        }
  
  
        &-spacing {
          margin-top: var(--spacing-s);
        }
      }
  
      &-font {
        font-family: Dm, sans-serif;
      }
  
      &--card {
        
        &-wrapper {
          margin-top: var(--spacing-m-3);
          perspective: 500px;	
          width: 100%;
          height: 217px;

          @include breakpoint($break-tablet-minus) {
            margin-top: var(--spacing-m-2);
          }
        }

        &-inner {
          width: 100%;
          height: 100%;
          position: relative;
          transition: transform 0.8s;
          transform-style: preserve-3d;

          &-flip {
            transform: rotateY(180deg);
          }
        }

        &-front, &-back {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden; /* Safari */
          backface-visibility: hidden;
        }

        &-back {
          transform: rotateY(180deg);
          background: linear-gradient(90deg, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.00) 100%), var(--btcoin-500, #FF8D07);
        }

  
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.00) 100%), var(--tether-500, #1BA27A);
        position: relative;
        padding: var(--spacing-m-1);
        z-index: 1;
  
  
        &-icon {
          position: absolute;
          right: var(--spacing-m-1);
          top: var(--spacing-m-1);

          box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.16);
          border-radius: 50%;
          width: 32px;
          height: 32px;
        }
  

  
        &-title {
          font-size: torem(14);
          font-weight: 700;
        }
    
        &-sum {
          font-size: torem(24);
          font-weight: 700;
          margin-top: var(--spacing-xs);
        }
    
        &-subtitle {
          font-size: torem(10);
          font-weight: 500;
          margin-top: var(--spacing-xs);
        }
  
        &-stats {
          &-title {
            font-size: torem(12);
            font-weight: 700;
          }
    
          &-value {
            font-size: torem(18);
            font-weight: 700;
            margin-top: var(--spacing-xs);
          }
        }
  
        &-rating {
          color: var(--text-inverse-secondary);
          font-size: torem(10);
          font-weight: 500;
          margin-top: var(--spacing-m-1);
  
          &-stars {
            margin: 0rem var(--spacing-s);
            display: flex;
            gap: var(--spacing-xs);
          }
        }
  
        &-term {
          font-size: torem(10);
          font-weight: 500;
          color: var(--text-inverse-tertiary);
          margin-top: var(--spacing-s);
        }
      }
  
      &-input {
        line-height: torem(36);
        padding: var(--spacing-s) var(--spacing-m-1);
        background: var(--surfaces-selection);
        border-radius: var(--spacing-xs);
  
        &-text {
          line-height: torem(36);
        }
      }
  
      &-select {
        padding: var(--spacing-s) var(--spacing-m-1);
        gap: var(--spacing-s);
        border-radius: var(--spacing-xs);
        background: var(--surfaces-selection);
  
        &-text {
          color: var(--text-primary);
          font-size: torem(24);
          font-weight: 500;

          @include breakpoint($break-tablet-minus) {
            font-size: torem(20);
          }
        }

        &-dropdown {
          border-radius: var(--spacing-s);
          // background: rgba(255, 255, 255, 0.10);
          backdrop-filter: blur(32px);

          &-btc {
            // background: #FC8B07;
            background: var(--surfaces-selection);
          }

          &-usdt {
            // background: #1A9F78;
            background: var(--surfaces-selection);
          }

          &-item {
            color: var(--text-primary);
            font-size: torem(14);
            font-weight: 500;
            font-family: Jakarta, sans-serif;

            &:hover {
              background: rgba(255, 255, 255, 0.15);
              border-radius: var(--spacing-s);
            }

            // @include breakpoint($break-tablet-minus) {
            //   color: var(--button-secondary)
            // }
          }
        }
  
      }
      
    }
  
    &__button {
      margin-top: var(--spacing-m-3);
      padding: var(--spacing-m-1) var(--spacing-l-2);
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-weight: 700;
      color: var(--text-inverse-primary);
      border-radius: var(--spacing-s);
      background: var(--button-primary);

      @include breakpoint($break-tablet-minus) {
        margin-top: var(--spacing-m-2);
      }
    }
  }
  

  
  

 