.m-banner {
  &__wrapper {
    display: flex;
    align-items: center;
    color: var(--text-inverse-primary);
    border-radius: torem(16);
    box-shadow: 0 0 torem(6) 0 rgba(0, 0, 0, 0.06);
    overflow: hidden;
    padding: torem(80, 64);
    
    & > * {
      margin-left: torem(100);

      &:first-child {
        margin-left: 0;
      }
    }

    @media (max-width: 991px) {
      flex-direction: column-reverse;
      text-align: center;
      padding: torem(80, 16);
      border-radius: 0;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      background-position: center center !important;

      & > * {
        margin-left: torem(64);
  
        &:first-child {
          margin-left: 0;
        }
      }
    }

    &--no-bg {
      color: var(--text-primary);
      background: var(--blue-500) !important;
    }
  }

  &__title {
    margin-bottom: torem(24);
  }

  &__description {
    font-size: torem(20);
    line-height:torem(26);
    font-weight: 400;
    opacity: 0.8;
    margin-bottom: torem(32);

    @media (max-width: 767px) {
      font-size: torem(16);
      line-height: torem(20);
    }
  }

  .a-button {
    color: var(--text-inverse-primary);
    padding: torem(16, 48);
  }
}
