.f-reset-password {
  padding: var(--spacing-m-2) 0 var(--spacing-m-3);
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  @include breakpoint($break-desktop-1024) {
    padding: torem(67) 0 var(--spacing-m-3);
    flex-grow: 0;
  }

  &__back {
    width: torem(24);
    margin-bottom: var(--spacing-m-3);
  }

  &__title {
    font-family: Dm, sans-serif;
    font-size: torem(32);
    font-weight: 700;
    line-height: torem(42);
    margin-bottom: var(--spacing-m-1);
  }

  &__subtitle {
    margin-bottom: torem(32);
    font-weight: 400;
    font-size: torem(16);
    line-height: torem(21);
    color: var(--text-secondary)
  }

  &__name {
    margin-bottom: 16px;
  }

  &__password {
    margin-bottom: var(--spacing-m-3);
  }

  &__form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    // max-width: 368px;
  }

  &__error {
    color: var(--accent-danger);
    font-family: Dm, sans-serif;
    font-size: torem(12);
    font-weight: 500;
    line-height: torem(16);

    margin-bottom: var(--spacing-s);
  }


  &__email {
    margin-bottom: var(--spacing-m-1);
  }

  &__ref {
    margin-bottom: 32px;
  }

  &__button {
    margin-top: auto;
  }
}
.l-auth-container{
  .f-reset-password__form{
    .f-reset-password__button{
      margin-top: 0;
    }
  }
}
