.s-site-marquee {
  position: relative;
  overflow: hidden;
  width: 100%;
  background: #01040f;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(32.5px);

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(34, 36, 43, 0.5);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.06);
    filter: blur(30px);
  }
  &__item {
    cursor: pointer;
    img {
      width: auto;
      height: torem(24);
    }
  }
  &__row {
    display: flex;
    align-items: center;
    gap: torem(207);
    width: max-content;
    animation: marquee 15s linear infinite;
    height: torem(88);
    @media (max-width: 899px) {
      gap: torem(50);
    }
  }
  &__wrapper {
    padding: torem(0, 60);
    position: relative;
    z-index: 2;
    display: flex;
    width: fit-content;
    gap: torem(207);
    @media (max-width: 899px) {
      gap: torem(50);
    }
  }

  a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}
