.s-site-blogs {
  padding: torem(179, 0);

  font-family: Dm, sans-serif;

  @media (max-width: 991px) {
    padding: torem(184, 0);
  }

  &__title {
    margin-bottom: torem(32);
  }

  &__description {
    font-size: torem(20);
    line-height: torem(26);
    color: var(--text-secondary);

    margin-bottom: torem(48);

    @media (max-width: 600px) {
      font-size: torem(16);
      line-height: torem(20);
    }
  }

  &__items {
    display: grid;
    gap: torem(0, 24);
    grid-template-columns: repeat(6, 1fr);
    border-bottom: torem(1) solid var(--surfaces-border-2);

    & .m-site-blog {
      &.m-site-blog--submain {
        grid-column: span 3;

        @media (max-width: 991px) {
          grid-column: span 6;
        }
      }

      &.m-site-blog--main {
        grid-row: span 2;

        @media (max-width: 991px) {
          grid-row: span 1;
        }
      }

      @media (max-width: 991px) {
        grid-column: span 6;
      }
    }

    .m-site-blog {
      &--wide {
        grid-column: span 3;
      }

      grid-column: span 2;
      margin-bottom: torem(24);

      @media (max-width: 991px) {
        grid-column: span 3;
      }

      @media (max-width: 767px) {
        grid-column: span 6;
      }
    }
  }

  .a-pagination {
    margin-top: torem(48);
  }
}
