.s-site-referrals-main {
  position: relative;
  min-height: torem(764);
  padding: torem(164, 0, 60);
  @media (max-width: 767px) {
    padding: torem(152, 0, 32);
  }

  &__img {
    position: absolute;
    left: 48%;
    bottom: 0;
    z-index: 3;
    transform: translateX(-42%);

    @media (max-width: 1240px) {
      z-index: 1;
    }

    @media (max-width: 1099px) {
      max-width: torem(400);

      img {
        max-width: 100%;
      }
    }

    @media (max-width: 991px) {
      top: 50%;
      transform: translateY(-50%);
    }

    @media (max-width: 767px) {
      top: torem(178);
      right: torem(20);
      transform: translateY(0) translateX(0) rotate(-5deg);
      width: torem(265);
    }
  }

  &__left {
    max-width: torem(500);
  }

  &__right {
    max-width: torem(327);
    margin-top: auto;
    margin-left: auto;

    @media (max-width: 991px) {
      margin-left: 0;
    }
  }

  .l-site-dark {
    position: relative;
    z-index: 2;
  }

  &__wrapper {
    @media (max-width: 1099px) {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
  }

  &__title {
    position: relative;
    overflow: hidden;

    @media (max-width: 991px) {
      margin-bottom: torem(200);
    }

    @media (max-width: 767px) {
      max-width: torem(250);
      margin-bottom: torem(180);
    }

    &:after {
      position: absolute;
      top: torem(100);
      right: torem(35);
      bottom: 0;
      z-index: 1;
      content: '';
      width: torem(460);
      height: torem(200);
      border-radius: torem(460);
      transform: rotate(140deg);
      background: rgba(1, 4, 15, 0.75);
      filter: blur(40px);
      @media (max-width: 767px) {
        top: torem(0);
        right: torem(-150);
        height: torem(100);
        filter: blur(10px);
        background: rgba(1, 4, 15, 0.7);
      }
    }
  }

  &__message {
    max-width: fit-content;
    font-family: Jakarta, sans-serif;
    font-size: torem(16);
    line-height: torem(20);
    color: #83f5b8;
    margin-left: torem(112);

    @media (max-width: 991px) {
      position: absolute;
      top: 50%;
    }

    @media (max-width: 767px) {
      top: torem(180);
      left: 0;
    }

    &-text {
      text-align: right;
      transform: translateX(torem(25)) translateY(torem(20)) rotate(5deg);

      @media (max-width: 767px) {
        transform: translateX(torem(-155)) translateY(torem(20)) rotate(5deg);
      }
    }

    &-arrow {
      @media (max-width: 767px) {
        transform: rotateY(170deg) rotateZ(-40deg) translateY(torem(80)) translateX(torem(30));
      }
    }
  }

  &__avatars {
    display: flex;
    align-items: center;
    max-width: fit-content;
    border-radius: torem(1000);
    border: torem(1) solid #ffffff1a;
    padding: torem(6);
    margin-bottom: torem(30);

    @media (max-width: 767px) {
      margin-bottom: torem(24);
    }
  }

  &__avatar {
    position: relative;
    width: torem(36);
    height: torem(36);
    border-radius: 100%;
    overflow: hidden;

    &:not(:first-child) {
      margin-left: torem(-10);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__text {
    font-family: Jakarta, sans-serif;
    font-size: torem(18);
    line-height: torem(25);
    margin-bottom: torem(40);

    @media (max-width: 767px) {
      font-size: torem(16);
      margin-bottom: torem(32);
    }
  }
}
