.w-chart-shareholders {
  padding: var(--spacing-m-1);
  margin-bottom: var(--spacing-m-2);
  box-shadow: var(--b-shadow-3);
  border: torem(1) solid var(--surfaces-surface-glass-border);
  border-radius: var(--spacing-s);
  background: var(--surfaces-surface-glass);
  display: flex;
  flex-direction: column;
  @include breakpoint($break-desktop-1440) {
    padding: var(--spacing-m-2);
  }
  @include breakpoint($break-tablet) {
    margin-bottom: 0;
  }
  &__title {
    position: relative;

    width: 100%;

    margin-bottom: torem(40);

    &-name {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;

      width: 100%;
      text-align: center;

      font-family: Dm, sans-serif;
      font-weight: 500;
      font-size: torem(14);
      line-height: torem(18);
      color: var(--text-tertiary);
    }
  }

  &__strategies {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-names {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-bottom: torem(8);
    }

    &-name {
      display: flex;
      align-items: center;
      gap: torem(8);
    }

    &-text {
      font-family: Dm, sans-serif;
      font-weight: 500;
      font-size: torem(14);
      line-height: torem(18);
      color: var(--text-primary);
    }
  }

  &__percentbar {
    width: 100%;

    &-bar {
      display: flex;
      align-items: center;
      overflow: hidden;

      width: 100%;
      height: torem(8);

      border-radius: torem(10);

      margin-bottom: torem(8);
    }

    &-line {
      height: 100%;

      &.is-null {
        &:nth-child(1) {
          background: var(--accent-primary) !important;
        }
        &:nth-child(2) {
          background: var(--text-primary) !important;
        }
      }
    }

    &-percentes {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-percent {
      font-family: Dm, sans-serif;
      font-weight: 500;
      font-size: torem(12);
      line-height: torem(16);

      &.is-null {
        &:nth-child(1) {
          color: var(--accent-primary) !important;
        }
        &:nth-child(2) {
          color: var(--text-primary) !important;
        }
      }
    }
  }
}

.w-chart-shareholders.desktop {

  .w-chart-shareholders__title {
    margin-bottom: torem(64);
  }

  .w-chart-shareholders__strategies {
    &-names {
      margin-bottom: torem(16);
    }

    &-text {
      font-size: torem(16);
      line-height: torem(21);
    }
  }

  .w-chart-shareholders__percentbar {
    &-bar {
      margin-bottom: torem(16);
    }

    &-percent {
      font-size: torem(14);
      line-height: torem(18);
    }
  }
}
