@use 'sass:math';
@use 'sass:list';

@function torem($pxs...) {
  $rem-values: ();
  @each $px in $pxs {
    @if type-of($px) == number {
      $rem-values: list.append($rem-values, calc(($px / 16) * 1rem));
    } @else {
      $rem-values: list.append($rem-values, $px);
    }
  }
  @return $rem-values;
}

@mixin gap($margin-left) {
  margin-left: torem(-#{$margin-left});
  & > * {
    margin-left: torem($margin-left);
  }
}

@function vh($percentage) {
  @return calc(var(--vh, 1vh) * $percentage);
}
