.a-pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: torem(6);

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: torem(32);
    max-width: fit-content;
    min-height: torem(32);

    background: var(--surfaces-surface-2);
    border-radius: var(--spacing-xs);

    font-family: Dm, sans-serif;
    font-weight: 700;
    font-size: torem(16);
    line-height: torem(20);
    color: var(--accent-primary);

    cursor: pointer;

    &.disabledPage {
      background: none;

      color: var(--text-secondary);
    }
  }

  &__selected {
    background: none;

    color: var(--text-secondary);

    pointer-events: none;
  }
}
