.w-fund-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: torem(8);
  margin-bottom: var(--spacing-m-1);

  @include breakpoint($break-desktop-1024) {
    grid-gap: torem(16);
  }

  .e-stat {
    min-height: 1px;
    aspect-ratio: 1/1;

    @include breakpoint($break-desktop-1024) {
      aspect-ratio: auto;

      height: torem(167.5);
    }
  }
}
