.s-site-referrals-id {
  position: relative;
  padding: torem(168, 0, 60);

  @media (max-width: 767px) {
    padding: torem(96, 0, 32);
  }

  &__left {
    max-width: torem(457);

    .a-button {
      margin-bottom: torem(48);

      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  .l-site-dark {
    position: relative;
    z-index: 2;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: torem(100);

    @media (max-width: 1319px) {
      flex-direction: column;
    }

    @media (max-width: 767px) {
      margin-bottom: torem(40);
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 60%;
    z-index: 2;
    transform: translateX(-60%);

    @media (max-width: 1319px) {
      z-index: 1;
    }

    @media (max-width: 991px) {
      top: torem(300);
      width: torem(650);

      img {
        max-width: 100%;
      }
    }

    @media (max-width: 767px) {
      top: torem(180);
      width: torem(450);
    }
  }

  &__title {
    position: relative;
    overflow: hidden;
    margin-bottom: torem(40);

    @media (max-width: 767px) {
      max-width: torem(320);
    }

    &:after {
      position: absolute;
      top: 0;
      right: torem(-50);
      z-index: 1;
      content: '';
      width: torem(360);
      height: torem(252);
      border-radius: torem(360);
      transform: rotate(-45deg);
      background: rgba(1, 4, 15, 0.70);
      filter: blur(40px);
    }
  }

  &__message {
    font-family: Jakarta, sans-serif;
    font-size: torem(16);
    line-height: torem(20);
    color: #83F5B8;
    margin-left: torem(100);

    @media (max-width: 991px) {
      display: none;
    }

    &-text {
      max-width: torem(127);
      transform: translateX(torem(100)) translateY(torem(20)) rotate(5deg);
    }
  }

  &__info {
    font-family: Jakarta, sans-serif;
    max-width: torem(327);
    margin-left: auto;
    margin-top: auto;

    @media (max-width: 1319px) {
      z-index: 2;
    }

    @media (max-width: 991px) {
      max-width: 100%;
      margin-top: torem(300);
    }

    &-title {
      font-size: torem(24);
      line-height: torem(28);
      font-weight: 700;
      margin-bottom: torem(20);

      @media (max-width: 767px) {
        font-size: torem(18);
        line-height: torem(21);
        margin-bottom: torem(16);
      }
    }

    &-text {
      margin-bottom: torem(20);
      @media (max-width: 991px) {
        margin-bottom: torem(32);
      }

      p {
        font-size: torem(18);
        line-height: torem(25);

        @media (max-width: 767px) {
          font-size: torem(16);
          line-height: torem(22);
        }

        &:not(:last-child) {
          margin-bottom: torem(20);
        }
      }
    }
  }

  &__slide {
    width: torem(327) !important;
    color: #01040F;
    background: var(--color-bg);
    border-radius: torem(20);
    padding: torem(24, 0);

    @media (max-width: 767px) {
      width: torem(256);
      border-radius: torem(16);
      padding: torem(20, 0);
    }

    &:last-child {
      margin-left: auto;

      @media (max-width: 767px) {
        margin-left: 0;
      }
    }

    img {
      max-width: 100%;
    }

    &-top, &-bottom {
      padding: torem(0, 24);

      @media (max-width: 767px) {
        padding: torem(0, 20);
      }
    }

    &-img {
      @media (max-width: 767px) {
        margin-bottom: torem(12);
      }
    }

    &-title {
      font-family: Gilroy, sans-serif;
      font-size: torem(24);
      font-weight: 700;
      margin-top: torem(24);

      @media (max-width: 767px) {
        font-size: torem(18);
        line-height: torem(21);
        margin-bottom: torem(12);
      }
    }

    &-subtitle {
      font-family: Gilroy, sans-serif;
      font-size: torem(16);
      line-height: 120%;
      font-weight: 600;
      margin-bottom: torem(4);

      @media (max-width: 767px) {
        font-size: torem(14);
      }
    }

    &-text {
      font-family: Gilroy, sans-serif;
      font-size: torem(16);
      line-height: 140%;
      color: #62646A;

      @media (max-width: 767px) {
        font-size: torem(14);
      }
    }
  }

  .swiper-wrapper {
    width: 100% !important;
    gap: torem(4);
  }

  .swiper, .m-slider__wrap {
    z-index: 2;
    overflow: visible;
  }
}
