.landing-calculation {
  &__journey {
    max-width: 1096px;
    margin: 0 auto;
    padding: 60px 0px 120px 0px;
    border-radius: var(--spacing-m-2);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.27) 0%, rgba(0, 0, 0, 0) 100%), var(--tether-500, #1ba27a);
    position: relative;
    overflow: hidden;

    &-btc {
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.27) 0%, rgba(0, 0, 0, 0) 100%), var(--btcoin-500, #ff8d07);
    }

    &-bg1 {
      position: absolute;
      left: 0;
      bottom: 0;
      mix-blend-mode: luminosity;
      backdrop-filter: blur(12px);
    }

    &-bg2 {
      position: absolute;
      right: 0;
      bottom: 0;
      mix-blend-mode: luminosity;
    }

    &-title {
      color: #fff;
      text-align: center;
      font-family: Jakarta, sans-serif;
      font-size: 64px;
      font-weight: 800;
      line-height: 120%; /* 76.8px */
      text-transform: uppercase;

      @include breakpoint($break-tablet-minus) {
        font-size: 30px;
        padding: 0 var(--spacing-m-1);
        margin-bottom: var(--spacing-m-3);
      }
    }

    &__invest {
      max-width: 647px;
      margin: 60px auto 0px auto;
      padding: var(--spacing-m-3) var(--spacing-l-2);
      border-radius: var(--spacing-m-2);
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(32px);

      @include breakpoint($break-tablet-minus) {
        max-width: 375px;
        margin: auto;
        padding: var(--spacing-m-3) var(--spacing-m-1);
      }

      &-center {
        margin: auto;
      }

      &--text {
        z-index: 10;
        position: relative;

        &-normal {
          line-height: normal;
          height: auto;
        }

        &-reinvest {
          font-size: torem(30) !important;

          @include breakpoint($break-tablet-minus) {
            font-size: torem(23) !important;
          }
        }

        &-main {
          font-size: torem(44);
          font-weight: 600;
          line-height: 130%;
          font-family: Jakarta, sans-serif;

          @include breakpoint($break-tablet-minus) {
            font-size: torem(24);
          }
        }

        &-input {
          font-size: torem(34);
          font-weight: 600;
          line-height: 130%;
          font-family: Jakarta, sans-serif;

          @include breakpoint($break-tablet-minus) {
            font-size: torem(14);
          }
        }

        &-primary {
          // color: var(--text-primary);
          color: var(--Text-Inverse-Primary, #fff);
        }

        &-secondary {
          color: var(--Text-Inverse-Secondary, rgba(255, 255, 255, 0.8));
        }

        &-spacing {
          margin-top: var(--spacing-s);
        }
      }

      &-font {
        font-family: Dm, sans-serif;
      }

      &--card {
        border-radius: var(--spacing-m-2);
        background: rgba(255, 255, 255, 0.10);
        // backdrop-filter: blur(32px);

        // position: relative;
        padding: var(--spacing-m-3) var(--spacing-m-2);
        // z-index: 1;
        
        &-wrapper {
          margin-top: var(--spacing-m-3);
          perspective: 551px;
          width: 100%;
          // height: 318px;
          height: 341px;

          @include breakpoint($break-tablet-minus) {
            margin-top: var(--spacing-m-2);
            // height: 390px;
            height: 300px;
          }
        }

        &-inner {
          width: 100%;
          height: 100%;
          position: relative;
          transition: transform 0.8s;
          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;

          &-flip {
            transform: rotateY(180deg);
            transition: transform 700ms 400ms ease-out; 
            // transform: rotateY(0deg);
          }
        }

        // &-front {
        //   -webkit-transform:rotateY(0deg);
        //   transform: rotateY(0deg) ;
        //   -webkit-transform: rotateY(0deg) ;
        //   -moz-transform: rotateY(0deg);
        // }

        &-front,
        &-back {
          position: absolute;
          width: 100%;
          height: 100%;
          // -moz-backface-visibility: hidden;
          // -o-backface-visibility: hidden;
          // -ms-backface-visibility: hidden;
          // -webkit-backface-visibility: hidden !important;  /* Safari */
          // backface-visibility: hidden;

          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
          -webkit-backface-visibility: hidden;
          -moz-backface-visibility: hidden;
          -o-backface-visibility: hidden;
          backface-visibility: hidden;
        }

        &-back {
          transform: rotateY(180deg) ;
          // transform: rotateY(0deg);
          background: linear-gradient(90deg, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0) 100%), var(--btcoin-500, #ff8d07);

          // transform: rotateY(180deg) translateZ(1px);
          // -webkit-transform: rotateY(180deg) translateZ(1px);
          // -moz-transform: rotateY(180deg) translateZ(1px);
        }

        &-icon {
          position: absolute;
          right: var(--spacing-m-1);
          top: var(--spacing-m-1);
        }

        &-title {
          font-size: torem(14);
          font-weight: 700;

          @include breakpoint($break-tablet-minus) {
            font-size: torem(14);
          }
        }

        &-sum {
          font-size: torem(42);
          font-weight: 800;
          margin-top: var(--spacing-xs);
          line-height: 130%; /* 54.6px */
          font-family: Jakarta, sans-serif;

          @include breakpoint($break-tablet-minus) {
            font-size: torem(30);
          }
        }

        &-subtitle {
          font-size: torem(14);
          font-weight: 500;
          margin-top: var(--spacing-xs);

          @include breakpoint($break-tablet-minus) {
            font-size: torem(12);
          }
        }

        &-line {
          background: rgba(255, 255, 255, 0.08);
          height: 1px;
          width: 100%;
          margin: var(--spacing-m-1) 0;
        }

        &-stats {
          &-wrapper {
            @include breakpoint($break-tablet-minus) {
              // flex-direction: column;
            }
          }

          &-title {
            font-size: torem(14);
            font-weight: 700;

            @include breakpoint($break-tablet-minus) {
              font-size: torem(12);
            }
          }

          &-value {
            font-size: torem(32);
            font-weight: 700;
            margin-top: var(--spacing-xs);

            @include breakpoint($break-tablet-minus) {
              font-size: torem(18);
            }
          }
        }

        &-rating {
          color: var(--Text-Inverse-Secondary, rgba(255, 255, 255, 0.8));
          font-size: torem(14);
          font-weight: 500;
          margin-top: var(--spacing-m-1);

          &-stars {
            margin: 0rem var(--spacing-s);
            display: flex;

            & > * {
              margin-left: var(--spacing-xs);
              
              &:first-child {
                margin-left: 0;
              }
            }

            img {
              width: 18px;
              height: 18px;
            }
          }
        }

        &-term {
          font-size: torem(14);
          font-weight: 500;
          color: var(--text-inverse-tertiary);
          margin-top: var(--spacing-s);

          @include breakpoint($break-tablet-minus) {
            font-size: torem(12);
          }
        }
      }

      &-input {
        line-height: torem(36);
        padding: var(--spacing-s) var(--spacing-m-1);
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(12px);
        border-radius: var(--spacing-xs);
        z-index: 10;

        &-text {
          line-height: torem(36);
        }
      }

      &-select {
        padding: var(--spacing-s) var(--spacing-m-1);
        border-radius: var(--spacing-s);
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(12px);

        & > * {
          margin-left: var(--spacing-s);

          &:first-child {
            margin-left: 0;
          }
        }
        
        @include breakpoint($break-tablet-minus) {
          padding: var(--spacing-xs) var(--spacing-s);
        }

        &-wrapper {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          & > * {
            margin-left: var(--spacing-m-1);

            &:first-child {
              margin-left: 0;
            }
          }
        }

        &-text {
          font-size: torem(34);
          font-weight: 600;
          font-family: Jakarta, sans-serif;

          @include breakpoint($break-tablet-minus) {
            font-size: torem(14);
          }
        }

        &-currency {
          width: 40px;

          @include breakpoint($break-tablet-minus) {
            width: 20px;
          }
        }

        &-arrow {
          width: 32px;

          @include breakpoint($break-tablet-minus) {
            width: 20px;
          }
        }

        &-dropdown {
          border-radius: var(--spacing-s);
          // background: rgba(255, 255, 255, 0.10);
          backdrop-filter: blur(32px);

          &-btc {
            background: #e9a14a;
          }

          &-usdt {
            background: #57ae94;
          }

          &-item {
            color: var(--Text-Inverse-Primary, #fff);
            font-size: torem(14);
            font-weight: 500;
            font-family: Jakarta, sans-serif;

            &:hover {
              background: rgba(255, 255, 255, 0.15);
              border-radius: var(--spacing-s);
            }

            // @include breakpoint($break-tablet-minus) {
            //   color: var(--button-secondary)
            // }
          }
        }

        &-amount {
          background: none;
          backdrop-filter: none;
          padding: 0;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          z-index: 10;

          &-dropdown {
            width: 343px;
            border-radius: var(--Spacing-S, 8px);
            // left: 0;
            right: 0;
            padding: var(--spacing-s);
            // backdrop-filter: blur(32px);

            @include breakpoint($break-tablet-minus) {
              &-reinvest {
                right: -90px !important;
              }
            }

            &-btc {
              background: #e9a14a;
            }

            &-usdt {
              background: #57ae94;
            }

            // height: 295px;
            // overflow-y: scroll;

            @include breakpoint($break-tablet-minus) {
              width: 200px;
              right: 0;
              height: 295px;
              overflow-y: scroll;
            }

            &-item {
              text-align-last: left;
              padding: var(--spacing-m-1) var(--spacing-s);
              display: flex;
              justify-content: space-between;

              &-active {
                border-radius: var(--spacing-s);
                background: rgba(255, 255, 255, 0.1);
                backdrop-filter: blur(32px);
              }
            }
          }

          &-arrow-wrapper {
            width: 32px;

            @include breakpoint($break-tablet-minus) {
              width: 20px;
            }
          }

          // &-check {
          //   display: inline-block;
          // }
        }
      }
    }

    &__button {
      margin-top: var(--spacing-m-3);
      border-radius: var(--spacing-s);
      background: var(--solid-white, #fff);
      padding: var(--spacing-m-1) var(--spacing-l-2);

      color: var(--Tether-500, #1ba27a);
      font-size: 18px;
      font-weight: 700;

      &-btc {
        color: var(--btcoin-500, #ff8d07);
      }

      &:disabled{
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
    &__error-message{
      height: 0;
      font-size: 15px;
      font-weight: 600;
      color: var(--accent-danger);
    }
    &-reinvest-wrapper {
      display: flex;
      margin: auto;

      &-active {
        align-items: center;
        justify-content: center;
        margin-top: var(--spacing-s);
      }
    }
  }
}