.s-site-footer {
  color: var(--text-inverse-primary);
  background: #01040f;
  .a-input__input-title {
    color: #fff;
    padding-left: torem(24);
  }
  &__content {
    position: relative;
    max-width: torem(1400);
    border-radius: torem(24);
    background: #074dff;
    margin: 0 auto;
    overflow: hidden;

    @media (max-width: 767px) {
      border-radius: 0;
    }

    &:before {
      position: absolute;
      left: 50%;
      bottom: torem(-280);
      z-index: 1;
      transform: translateX(-50%);
      content: '';
      width: 95%;
      height: torem(360);
      border-radius: 1260px;
      background: #48bdff;
      filter: blur(90px);
      @media screen and (max-width: 767px) {
        width: 80%;
        height: torem(260);
        bottom: torem(-132);
      }
    }
  }

  &__top {
    border-bottom: torem(1) solid #ffffff33;
    padding: torem(80, 40);

    @media (max-width: 767px) {
      padding: torem(96, 16, 40);
    }

    &-wrapper {
      max-width: torem(658);
      margin-left: auto;

      @media (max-width: 991px) {
        margin-left: 0;
      }
    }

    &-send {
      // display: flex;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: torem(32);

      @media (max-width: 767px) {
        flex-direction: column;
        grid-template-columns: 1fr;
      }
    }
  }

  &__title_sub_earn {
    margin-right: torem(14);
  }

  &__title_sub_bitcoin {
    margin-left: torem(14);
    opacity: 0;
    transition: 0.7s linear;
    transform: scale(1.2);
  }

  &__title {
    position: relative;
    font-family: Jakarta, sans-serif;
    max-width: unset !important;
    overflow: hidden;

    @media (max-width: 991px) {
      text-align: center;
      margin: 0 auto torem(16);
    }

    &.title-sub {
      margin-top: torem(0) !important;
      margin-bottom: 0;
      display: flex;
      @media screen and (max-width: 767px) {
        justify-content: center;
        img {
          width: 40px;
          height: auto;
        }
      }
      &:after {
        display: none !important;
      }

      & img {
        opacity: 0;
        transition: 0.7s linear;
        transform: scale(1.2);
      }

      &.active img,
      &.active .s-site-footer__title_sub_bitcoin {
        opacity: 1;
        transform: scale(1);
      }
    }

    &.title-first {
      margin-bottom: torem(16);
      &:after {
        position: absolute;
        top: 0;
        left: torem(-100) !important;
        //bottom: torem(0);
        //left: torem(122);
        z-index: 1;
        content: '';
        width: torem(460);
        height: torem(100);
        border-radius: torem(460);
        transform: rotate(-30deg);
        background: #074dffb2;
        filter: blur(40px);
      }
    }
  }

  &__form-submit {
    background: #fff;
    @media (max-width: 767px) {
      width: torem(56);
      height: auto;
    }
  }

  &__text,
  &__form {
    // width: 50%;
    width: 100%;

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &__text {
    font-family: Jakarta, sans-serif;
    font-size: torem(16);
    line-height: torem(22);
    max-width: torem(291);
    @media (max-width: 767px) {
      text-align: center;
      margin: auto;
    }
  }

  &__form {
    position: relative;
    font-family: Jakarta, sans-serif;

    .a-input__error-text {
      color: #ff5e5e;
    }
    .a-input__input-container {
      background: none;
      border-radius: torem(16);
      .a-input__input--custom {
        background: none;
        border: torem(1) solid #ffffff33;
        min-height: torem(72);
        border-radius: torem(16);
        @media screen and (max-width: 767px) {
          min-height: torem(64);
        }
        .a-input__input-text {
          font-family: Jakarta, sans-serif !important;
        }
      }
    }
    .a-input__input-title--small {
      color: #fff !important;
    }
    .a-input--error .a-input__input-container:hover .a-input__input {
      background-color: transparent;
      border-color: #fff;
    }

    button {
      position: absolute;
      top: torem(8);
      right: torem(8);

      display: flex;
      align-items: center;
      justify-content: center;
      width: torem(56);
      height: torem(56);
      border-radius: torem(16);
      padding: torem(16);

      @media (max-width: 767px) {
        width: torem(56);
        height: torem(56);
        top: torem(4);
        right: torem(4);
      }
    }
  }

  &__socials {
    display: flex;
    align-items: center;

    & > * {
      margin-left: torem(24);

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__social {
    font-size: torem(24);
    cursor: pointer;

    a {
      color: var(--text-inverse-primary);
    }
  }

  &__info {
    position: relative;
    z-index: 3;
    display: flex;
    padding: torem(80, 40, 0);
    margin-bottom: torem(70);

    justify-content: space-between;
    @media (max-width: 1199px) {
      flex-direction: column;
    }

    @media (max-width: 767px) {
      margin-bottom: torem(83);
      padding: torem(40, 16, 0);
    }

    &-text {
      font-family: Jakarta, sans-serif;
      font-size: torem(16);
      line-height: torem(22);
      margin-bottom: torem(24);

      @media (max-width: 767px) {
        margin-bottom: torem(20);
      }
    }
  }

  &__column {
    width: torem(312);

    @media (max-width: 767px) {
      width: auto;
    }
  }

  &__logo {
    margin-bottom: torem(24);

    @media (max-width: 767px) {
      margin-bottom: torem(20);

      img {
        display: block;
        width: auto;
        height: torem(28);
      }
    }
  }

  &__menu {
    // display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap: torem(16);

    @media (max-width: 1199px) {
      margin-top: torem(56);
      margin-left: 0;
    }

    @media (max-width: 767px) {
      flex-wrap: wrap;
      grid-template-columns: 1fr 1fr;
      gap: torem(24);
    }

    &-title {
      font-family: Jakarta, sans-serif;
      font-size: torem(16);
      color: #ffffff80;
      margin-bottom: torem(13);
    }

    &-link {
      color: var(--text-inverse-primary);

      &:hover {
        color: var(--text-inverse-primary);
        opacity: 0.6;
      }
      &[href='/#'] {
        color: #ffffff80;
        pointer-events: none;
        &:hover {
          cursor: default;
          opacity: 1;
          color: #ffffff80;
        }
      }
    }

    &-container {
      width: torem(162);
      @media (max-width: 767px) {
        width: calc(50% - 12px);
      }
    }
    &-column {
      // display: flex;
      display: grid;
      flex-direction: column;
      gap: torem(13);

      @media (max-width: 767px) {
        gap: torem(8);
      }
    }
    &-link {
      display: block;
      font-family: Jakarta, sans-serif;
      font-size: torem(16);
      font-style: normal;
    }
  }

  &__phrase {
    position: relative;
    z-index: 2;
    img {
      width: 100%;
    }
  }

  &-container {
    @media (max-width: 767px) {
      padding: torem(0) !important;
    }
  }

  &__bottom {
    display: flex;
    font-size: torem(16);
    line-height: torem(20);
    padding: torem(24, 0, 40);

    @media (max-width: 767px) {
      display: grid;
      flex-direction: column;
      align-items: center;
      gap: torem(16);
      padding: torem(20, 0);
    }

    &-item {
      font-family: Jakarta, sans-serif;
      font-size: torem(16);
      line-height: torem(24);
      color: var(--text-tertiary);

      @media (max-width: 767px) {
        width: 100%;
        text-align: center;
      }

      &:nth-child(2) {
        margin-left: auto;
        margin-right: torem(32);

        @media (max-width: 767px) {
          margin-left: 0;
        }
      }
    }
  }
}
