.m-site-tabs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'DM', sans-serif;

  & > * {
    margin-left: torem(12);

    &:first-child {
      margin-left: 0;
    }
  }

  &__item {
    font-size: torem(12);
    font-weight: 600;
    cursor: pointer;
    border-radius: torem(4);
    padding: torem(5, 8);
    transition: all 0.4s ease;
    background-color: var(--surfaces-surface-2);
    color: var(--text-secondary);

    &.active {
      color: var(--text-inverse-primary);
      background: var(--accent-primary);
    }

    &:hover {
      color: var(--text-inverse-primary);
      background: var(--accent-primary);
    }
  }
}
