.w-referrals {
  &__amount {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: torem(24);
    grid-column-gap: torem(8);
    margin-bottom: var(--spacing-m-2);

    @include breakpoint($break-desktop-1024) {
      flex-direction: row;
      justify-content: space-between;

      margin-bottom: var(--spacing-m-3);
    }

    &-sum {
      grid-column: span 2;
    }

    &-title {
      color: var(--text-tertiary);
      font-family: Dm, sans-serif;
      font-size: torem(12);
      font-weight: 500;
      line-height: torem(18);
      text-align: center;
      margin-bottom: var(--spacing-xs);

      @include breakpoint($break-desktop-1024) {
        text-align: start;
      }
    }


    &-method {
      margin: 0 auto var(--spacing-m-2) auto;
      cursor: pointer;
      max-width: torem(343);
      width: 100%;

      @include breakpoint($break-desktop-1024) {
        margin: 0 0 var(--spacing-m-2) 0;
      }

      &__wrap {
        padding: var(--spacing-m-1);
        border-radius: var(--spacing-s);
        background: var(--button-secondary);
        display: flex;
        align-items: center;
      }

      &__icon {
        width: torem(24);
        height: torem(24);
        margin-right: torem(16);
      }

      &__method {
        margin-right: torem(35);

        display: flex;
        flex-direction: column;

        &-head {
          color: var(--accent-primary);
          font-family: Dm, sans-serif;
          font-size: torem(14);
          font-weight: 700;
          line-height: torem(18);
          margin-bottom: var(--spacing-xs);
        }

        &-text {
          font-family: Dm, sans-serif;
          font-weight: 500;
          font-size: torem(12);
          line-height: torem(16);
          color: var(--text-tertiary);
        }
      }

      &__sum {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: var(--spacing-m-1);

        &-head {
          color: var(--accent-primary);
          font-family: Dm, sans-serif;
          font-size: torem(14);
          font-weight: 700;
          line-height: torem(18);
          margin-bottom: var(--spacing-xs);
        }

        &-text {
          font-family: Dm, sans-serif;
          font-weight: 500;
          font-size: torem(12);
          line-height: torem(16);
          color: var(--text-tertiary);
        }

      }

      &__chevron {
        width: torem(16);
        height: torem(16);
        color: var(--accent-primary);
      }
    }


    &-text {
      color: var(--text-primary);
      font-family: Dm, sans-serif;
      font-size: torem(24);
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-align: center;

      @include breakpoint($break-desktop-1024) {
        font-size: torem(42);

        text-align: start;
        margin-bottom: 0;
      }

    }

    &-withdraw {
      display: flex;
      flex-direction: column;
      align-items: center;

      height: auto;
      min-height: 1px;
      aspect-ratio: 1/1;

      padding: 0;

      text-align: center;

      @include breakpoint($break-desktop-1024) {
        aspect-ratio: auto;
        height: torem(167.5);
      }

      .a-icon {
        font-size: torem(27);
        margin: 0;
        margin-bottom: torem(21);
      }

      .a-button__label {
        font-size: torem(14);
        line-height: torem(18);
      }
    }

    &-totalsum {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      min-height: 1px;
      aspect-ratio: 1/1;

      padding: torem(16);

      background: var(--surfaces-surface-glass);
      border-radius: var(--spacing-s);

      @include breakpoint($break-desktop-1024) {
        aspect-ratio: auto;
        height: torem(167.5);
      }
    }

    &-caption {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;
    }

    &-share {
      display: flex;
      align-items: center;
      justify-content: center;

      width: torem(32);
      height: torem(32);
      border-radius: 100%;
      background: var(--surfaces-surface-2);
    }

    &-name {
      font-family: Dm, sans-serif;
      font-weight: 700;
      font-size: torem(10);
      line-height: torem(13);
      color: var(--text-tertiary);
      // bc on media 350px text is wrapped
      white-space: nowrap;
    }

    &-price {
      font-family: Dm, sans-serif;
      font-weight: 700;
      font-size: torem(16);
      line-height: torem(21);
      color: var(--text-primary);
    }
  }

  &__withdrawal {
    cursor: pointer;
    border-radius: var(--spacing-s);
    margin: 0 auto var(--spacing-m-2) auto;
    max-width: torem(343);
    width: 100%;
    outline: none;
    background: var(--button-secondary);
    display: flex;
    align-items: center;
    padding: var(--spacing-m-2) var(--spacing-m-1);

    @include breakpoint($break-desktop-1024) {
      margin: 0 0 var(--spacing-m-2) 0;
    }

    &-icon {
      margin-right: var(--spacing-m-1);
    }

    &-text {
      color: var(--accent-primary);

      /* Body 2/Bold */
      font-family: Dm, sans-serif;
      font-size: torem(14);
      font-weight: 700;
      line-height: normal;
    }

    &-chevron {
      margin-left: auto;
      color: var(--accent-primary);
    }
  }


  &__invite {
    background: var(--surfaces-surface-1);
    cursor: pointer;
    margin: 0 auto var(--spacing-m-2) auto;
    max-width: 100%;
    width: 100%;
    outline: none;
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-m-1);
    border-radius: var(--spacing-s);
    border: 1px solid var(--surfaces-surface-glass-border);
    box-shadow: var(--b-shadow-1);

    &-info {
      display: flex;
      flex-direction: column;

      &-title {
        text-align: start;
        color: var(--text-primary);
        font-family: Dm, sans-serif;
        font-size: torem(14);
        font-weight: 700;
        line-height: normal;
        margin-bottom: var(--spacing-xs);
      }

      &-text {
        text-align: start;
        color: var(--text-secondary);
        font-family: Dm, sans-serif;
        font-size: torem(14);
        font-weight: 400;
        line-height: normal;
      }
    }

    @include breakpoint($break-desktop-1024) {
      margin: 0 0 var(--spacing-m-2) 0;
    }

    &-chevron {
      margin-left: auto;
      color: var(--text-tertiary);
    }
  }

  &__subtitle {
    color: var(--text-primary);
    font-family: Dm, sans-serif;
    font-size: torem(16);
    font-weight: 700;
    line-height: normal;
    margin-bottom: var(--spacing-m-1);
  }

  &__list {
    border-radius: var(--spacing-s);
    box-shadow: var(--b-shadow-1);
    backdrop-filter: blur(32.5px);
    background: var(--surfaces-surface-glass);
  }

  &__item {
    display: flex;
    padding: var(--spacing-m-1);

    &-pic {
      border-radius: torem(32);
      background: var(--surfaces-surface-2);
      width: torem(32);
      height: torem(32);
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--accent-success);
      margin-right: var(--spacing-m-1);
      &--minus {
        color: var(--accent-danger);
      }
    }

    &_info {
      display: flex;
      flex-direction: column;

      &-title {
        color: var(--text-primary);
        font-family: Dm, sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: var(--spacing-xs);
      }

      &-date {
        color: var(--text-secondary);
        font-family: Dm, sans-serif;
        font-size: torem(12);
        font-weight: 500;
        line-height: normal;
      }

      &-usd {
        color: var(--text-primary);
        text-align: center;
        font-family: Dm, sans-serif;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: var(--spacing-xs);
      }

      &-btc {
        color: var(--text-secondary);
        text-align: center;
        font-family: Dm, sans-serif;
        font-size: torem(12);
        font-weight: 500;
        line-height: normal;
      }
    }

    &_sums {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      margin-left: auto;

      &-usd {
        color: var(--text-primary);
        text-align: center;
        font-family: Dm, sans-serif;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: var(--spacing-xs);
      }

      &-btc {
        color: var(--text-secondary);
        text-align: center;
        font-family: Dm, sans-serif;
        font-size: torem(12);
        font-weight: 500;
        line-height: normal;
      }
    }
  }

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--spacing-m-1);
    border: 1px solid var(--surfaces-surface-glass-border);
    box-shadow: var(--b-shadow-1);
    backdrop-filter: blur(32.5px);
    background: var(--surfaces-surface-1);
    padding: var(--spacing-m-3) var(--spacing-m-2);

    &-pic {
      width: torem(120);
      height: torem(80);
      margin-bottom: var(--spacing-m-2);

    }

    &-title {
      color: var(--text-primary);
      text-align: center;
      font-family: Dm, sans-serif;
      font-size: torem(16);
      font-weight: 700;
      line-height: normal;
      margin-bottom: var(--spacing-s);
    }

    &-text {
      color: var(--text-secondary);
      text-align: center;
      font-family: Dm, sans-serif;
      font-size: torem(14);
      font-weight: 400;
      line-height: normal;

      span {
        cursor: pointer;
        font-weight: 700;
        color: var(--accent-primary);
      }
    }
  }


  &__more {
    margin-top: torem(33);
    display: flex;
    justify-content: center;
    align-items: center;

    &-text {
      cursor: pointer;
      color: var(--accent-primary);
      font-family: Dm, sans-serif;
      font-size: torem(16);
      font-weight: 700;
      line-height: torem(21);
      user-select: none;
    }
  }

  &__instructions {
    flex-basis: 50%;

    padding: torem(24, 16);

    border: 1px solid var(--surfaces-surface-glass-border);
    border-radius: torem(8);
    background: var(--surfaces-surface-glass);
    box-shadow: 0 0 6px 0 rgba(#000, .06);

    margin-top: torem(24);

    &-heading {
      font-family: Dm, sans-serif;
      font-weight: 700;
      font-size: torem(16);
      line-height: torem(21);
      color: var(--text-primary);
      text-align: center;

      margin-bottom: torem(30);
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-m-2);

      width: 100%;
    }

    &-item {
      display: flex;
      align-items: center;
      gap: var(--spacing-m-1);
    }

    &-number {
      display: flex;
      align-items: center;
      justify-content: center;

      flex-shrink: 0;

      width: torem(48);
      height: torem(48);

      border-radius: 100%;
      background: var(--surfaces-selection);

      font-family: Dm, sans-serif;
      font-weight: 700;
      font-size: torem(24);
      line-height: torem(31);
      color: var(--accent-primary);
    }

    &-text {
      font-family: Dm, sans-serif;
      font-size: torem(16);
      line-height: torem(21);
      color: var(--text-primary);
    }
  }

  &__stats {
    display: flex;
    flex-direction: column;
    gap: torem(16);

    margin-top: torem(24);

    &--mobile {
      margin-bottom: 24px;
      display: flex;

      @include breakpoint($break-desktop-1024) {
        display: none;
      }
    }

    &--desktop {
      display: none;
      flex-direction: row;
      justify-content: space-between;

      width: 100%;

      @include breakpoint($break-desktop-1024) {
        display: flex;
      }
    }
  }

  &__stat {
    position: relative;

    width: 100%;

    padding: var(--spacing-m-1);

    border-radius: var(--spacing-s);
    background: var(--accent-primary);

    overflow: hidden;

    &-heading {
      font-family: Dm, sans-serif;
      font-weight: 700;
      font-size: torem(12);
      line-height: torem(16);
      color: var(--text-inverse-tertiary);

      margin-bottom: torem(4);
    }

    &-value {
      font-family: Dm, sans-serif;
      font-weight: 700;
      font-size: torem(24);
      line-height: torem(31);
      color: var(--text-inverse-primary);
    }

    &-img {
      position: absolute;
      right: 0;
      bottom: 0;

      width: torem(76);
      height: torem(68);

      mix-blend-mode: luminosity;
      filter: drop-shadow(0 0 117.5px rgba(#fff, .35));
    }
  }

  &__share {
    flex-basis: 50%;

    padding: var(--spacing-m-2) var(--spacing-m-1);

    border: 1px solid var(--surfaces-surface-glass-border);
    border-radius: var(--spacing-s);
    background: var(--surfaces-surface-glass);
    box-shadow: 0 0 6px 0 rgba(#000, .06);

    margin-top: torem(24);

    &-heading {
      font-family: Dm, sans-serif;
      font-weight: 700;
      font-size: torem(16);
      line-height: torem(21);
      color: var(--text-primary);
      text-align: center;

      margin-bottom: torem(32);
    }

    &-socials {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-bottom: torem(32);
    }

    &-social {
      display: flex;
      align-items: center;
      justify-content: center;

      width: torem(40);
      height: torem(40);

      border-radius: 100%;
      background: var(--surfaces-surface-2);

      &.current {
        background: var(--accent-primary);

        .w-referrals__share-icon {
          color: var(--text-inverse-primary);
        }
      }
    }

    &-icon {
      color: var(--text-tertiary);
    }

    &-button {
      width: 100%;

      padding: var(--spacing-s) var(--spacing-m-1);

      border-radius: var(--spacing-s);
      background: var(--accent-primary);

      font-family: Dm, sans-serif;
      font-weight: 700;
      font-size: torem(14);
      line-height: torem(18);
      color: var(--text-inverse-primary);
    }
  }

  &__promo {
    margin-bottom: torem(32);

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .swiper-pagination {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: torem(38) !important;

      margin-top: torem(32);

      &-bullet {
        width: torem(6);
        height: torem(6);

        border-radius: 100%;
        background: var(--surfaces-surface-3) !important;

        margin: 0 !important;

        &-active {
          width: torem(10);
          height: torem(10);
          background: var(--accent-primary) !important;
        }
      }
    }

    .m-slider__button {
      top: auto;
      bottom: 3px;

      display: flex;
      align-items: center;
      justify-content: center;

      width: torem(24);
      height: torem(24);

      &-prev {
        left: 0;
      }

      &-next {
        right: 0;
      }

      .a-icons {
        font-size: torem(24) !important;
        color: var(--text-tertiary);
      }
    }
  }

  &__comment {
    position: relative;

    padding: var(--spacing-m-1);

    border: 1px solid var(--surfaces-border-1);
    border-radius: var(--spacing-s);

    font-family: Dm, sans-serif;
    font-size: torem(14);
    line-height: torem(18);
    color: var(--text-secondary);

    margin-bottom: torem(32);

    &-caption {
      position: absolute;
      left: torem(11);
      top: 0;
      transform: translateY(-50%);

      padding: torem(4);

      background: var(--surfaces-surface-1);

      font-weight: 700;
      font-size: torem(10);
      line-height: torem(13);
      color: var(--text-tertiary);
    }
  }

  &__box {
    display: flex;
    flex-direction: column;

    @include breakpoint($break-desktop-1024) {
      flex-direction: row-reverse;
      gap: torem(24);
    }
  }
}
