.landing-registration{
  font-family: Dm, sans-serif;
  &__title{
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin: 24px 0;
    @media screen and (max-width: 560px){
      font-size: 20px;
    }
  }
  &__subtitle{
    color: #ABAEBE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
    a{
      color: var(--accent-primary);
    }
  }
  &__support {
    border-radius: 300px;
    border: 1px solid rgba(63, 66, 78, 0.08);
    background: rgba(34, 36, 43, 0.50);
    padding: 8px 16px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    cursor: pointer;
    img{
      border-radius: 1000px;
      border: 1px solid rgba(255, 255, 255, 0.10);
      overflow: hidden;
      margin-right: 16px;
    }
    span{
      color: #ABAEBE;
      font-size: 16px;
      font-weight: 500;
      @media screen and (max-width: 560px){
        font-size: 14px;
        text-align: left;
      }
    }
    .a-icon{
      margin-left: auto;
      font-size: 24px;
      color: #fff;
    }
  }
  &__form{
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
    &-inputfield{
      width: calc(50% - 16px);
      margin: 0 8px 16px 8px;
      @media screen and (max-width: 560px){
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
    }
    .a-input--error .a-input__input-container:hover .a-input__input{
      background: #2E2F3880!important;
    }
    .a-input__input-container{
      background: #2E2F3880;
      .a-input__input--custom{
        background: #2E2F3880;
        border: none;
        .a-input__input-title{
          color: #888CA0;
        }
        .a-input__input-text{
          color: #fff;
          caret-color: #fff;
        }
      }
    }
    &-agree{
      padding: 4px;
      background: #22242B;
      width: 100%;
      border-radius: 8px;
      overflow: hidden;
      border: 1px solid rgba(46, 47, 56, 0.20);
      margin: 8px 8px;
      margin-bottom: 24px;
      @media screen and (max-width: 560px){
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 16px;
        margin-top: 0;
      }
      .a-checkbox{
        padding: 16px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        background: var(--Surfaces-Selection, rgba(37, 47, 68, 0.50));
        p{
          color: #fff;
        }
      }
    }
    &-button{
      margin: 0 8px;
      width: 100%;
      @media screen and (max-width: 560px){
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
