.w-assets {
  display: flex;
  flex-direction: column;
  gap: torem(16);

  @include breakpoint($break-desktop-1024) {
    width: 100% !important;
    max-width: 100% !important;

    gap: torem(32);
  }

  &__charts {
    display: flex;
    flex-direction: column;
    gap: torem(16);

    @include breakpoint($break-desktop-1024) {
      display: grid;
       grid-template-columns: 1fr repeat(2, minmax(220px, 1fr));
      grid-gap: torem(16);
    }

    .w-chart-fund, .w-chart-portfolio {
      margin-bottom: 0;
    }
  }

  &__info {
    display: none !important;
    @include breakpoint($break-desktop-1024){
      display: flex !important;
    }
    .m-slider__wrap {
      width: 100%;

      margin: 0;
      padding: 0;
    }
  }

}

