.w-display-currency {
  &__title {
    color: var(--text-primary);
    font-family: Dm, sans-serif;
    font-size: torem(16);
    font-weight: 700;
    line-height: normal;
    margin-bottom: var(--spacing-m-1);
  }

  &__group {
    padding: var(--spacing-xs);
    border-radius: var(--spacing-s);
    border: torem(1) solid var(--surfaces-border-1);
    background: var(--surfaces-surface-1);
    margin-bottom: var(--spacing-m-1);

    &-radio {
      border-radius: torem(6);
      padding: var(--spacing-m-1);

      &--active {
        background: var(--surfaces-selection, #F3F8FF);
      }
    }
  }

  &__text {
    color: var(--text-secondary);
    font-family: Dm, sans-serif;
    font-size: torem(12);
    font-weight: 500;
  }
}
